body{
    top: 0% !important;
    margin:auto;
    overflow-x:hidden;
    background:var(--app-background);
    background-attachment: fixed;
    background-size: contain;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
body::-webkit-scrollbar{
    display: none;
    scrollbar-color:transparent;
    scrollbar-width: none;
    visibility: hidden;
}
*::-webkit-scrollbar{
    display: none;
    scrollbar-color:transparent;
    scrollbar-width: none;
    visibility: none;
}
.swipes::-webkit-scrollbar{
    display: none;
    scrollbar-color: transparent;
}
.port::-webkit-scrollbar{
    display: none;
    scrollbar-color: transparent;
}
html{
    -ms-overflow-style:none;
    scrollbar-width:0;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display:none;
    scroll-behavior: smooth;
    scrollbar-color: transparent;
    scrollbar-width: none;
    visibility: hidden;
}
/* -----------------------Disabeling Screen Shots---------- */
@media print{
 
    body{

        /* Hide the whole page */
        visibility: visible;
    }
}

:root{
    --theme-color:#ffe6b3;
    --app-background:#eaeded;
}
/*---------------- nav bar style ---------*/
nav{
    width: auto;
    height: auto;
    display: grid;
    position: sticky;
    grid-template-columns: 75% 25%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: space-between;
    padding: 3% 0% 3% 1%;
    top: 0;
    z-index: 9;
    font-size: 8vw;
    border-bottom: 1vw solid #d89000;
    background-color: rgb(255,230,179);
}
nav img{
    width:62%;
    height: auto;
    display: inline-block;
    position: relative;
    margin: 0% 0 0 1%;
}
nav label{
    font-family: roblox;
    font-size: 6.8vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
nav li:hover{
    color: #9e3601;
}
nav label:hover{
    color: #9e3601;
}
nav :last-child{
    word-spacing: 0.2em;
}
nav :last-child :hover{
    color: #9e3601;
}
/*--------- Menu Style --------------*/
.my-menu{
width: 0;
height: 100%;
display: flex;
flex-direction: column;
align-content: center;
background:rgb(255, 255, 255);
left: 0;
top: 0;
position: fixed;
transition:ease-in-out  0.15s;
transition-property: width;
z-index: 9;
overflow-x: hidden;
}
.my-menu::-webkit-scrollbar{
    scroll-behavior: smooth;
}
.my-menu a{
    font-family: roboto;
    font-size: 6.5vw;
    display: flex;
    color: rgb(93, 93, 93);
    align-items: center;
    padding: 2% 0% 0% 2%;
    margin-bottom: 2%
}
.my-menu a:hover, .my-menu details:hover{
    color: #cc8800;
}
.my-menu details{
    width: 100%;
    height: auto;
    padding: 2% 0% 0% 2%;
    margin-bottom: 2.5%;
    font-family: roboto;
    color: rgb(93, 93, 93);
    font-size: 7vw;
    border: none;
    outline: none;
    list-style: none;
    text-transform: capitalize;
}
.my-menu details[open] summary ~ *{
    animation: sweep .5s ease-in-out;
    transition: toleft 0.5s;
}
@keyframes sweep{
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}
.my-menu details button{
    width: 98%;
    text-align: center;
    font-size: 6vw;
    list-style: none;
    top: 0;
    color: rgb(93, 93, 93);
    position: relative;
    background:none ;
    margin-top: 2%;
    border: none;
    outline: none;
}
.my-menu details button:hover{
    color: #cc8800;
}
.my-menu img{
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 0%;
    position: relative;
    border-top:1.5vw solid #d89000 ;
}
#overlay{
    width: 0%;
    height: 100%;
    top: 0;
    display: block;
    position: fixed;
    z-index: 9;
    background: rgba(0, 0, 0, 0.39);
    transition:fadebackground 10s;
    transition-property: background;
}
#overlay-close{
    width: 13.5%;
    height: 100%;
    float: right;
    padding: 5% 10% 0% 0%;
    opacity: 0.5;
}
#menu-header{
    display: flex;
    position: sticky;
    z-index: 9;
    top: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    border-bottom:1vw solid #d89000;
}
#menu-header button{
    width: 50%;
    height: auto;
    font-family: goldman;
    font-size: 4.5vw;
    padding: 4% 0% 4% 0%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #ffe6b3;
}
#menu-header button:hover{
    color: #9e3601;
}
#chatBtn{
width: 6vw;
height: auto;
border: none;
background: none;
margin-left: 33%;
margin-right: 3%;
position: relative;
padding-top: 2vw;
}
.my-menu::-webkit-scrollbar{
display: none;
}
.view{
    width: 98%;
    height: auto;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
width:92.5%;
height:auto;
position: relative;
padding: 1.5%;
margin: 0 0 3.5% 0;
border-radius: 5vw;
background: #ffffff;
z-index:1;
}
.container b{
    display: flex;
    position: relative;
    font-family: goldman,potti-sreeramulu;
    font-weight: 550;
    align-items: center;
    padding: 0% 3% 0% 1%;
    justify-content: space-between;
    font-size: 4.5vw;
}
.items img{
width: 100%;
height: auto;
border-radius: 4vw;
}
.items a p{
    display: -webkit-box;
    overflow: hidden;
    margin-top: auto;
    padding: 0% 0% 0% 3%;
    font-family: roboto,lohithi;
    text-transform: capitalize;
    font-size: 3.7vw;
    line-height: 1.5em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#viewall{
    background-color: rgb(0, 123, 255);
    padding: 5%;
    width: 20vw;
    font-size: 4vw;
    display: inline-block;
    position: relative;
    font-family: roboto;
    font-weight: 500;
    border-radius: 1vw;
    color: #ffffff;
}
.items{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 0% 2%;
    position: relative;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}
.fadeswipecontainer{
    background: #ffffff;
    padding: 2%;
    margin-top: 2%;
}
span{
    z-index: 1;
}
.see-all {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
float: right;
margin-top: -10.5vw;
margin-right: 6%;
position: relative;
font-weight: lighter;
font-size: 4vw;
}
.desp{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 4%;
font-weight: lighter;
font-size: 4.5vw;
}
.swipes{
width: 100%;
height: auto;
display: flex;
white-space: nowrap;
overflow-x: scroll;
overflow-y: hidden;
padding:0% 0% 2.5% 1.5%;
background: linear-gradient(to bottom, #ffffff00 5%, var(--app-background) 48%);
margin-top: -25%;
position: relative;
z-index: 8;
}
.swipes img{
width: 33%;
height: auto;
padding: 1.2vw;
border-radius: 3vw;
background: transparent;
}
.swipes img:last-child{
    margin-right: 3%;
}
.swipes img:first-child{
    padding-left: 0%;
}
a, a:hover, a:focus, a:active{
text-decoration: none;
color: inherit;
-webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
.landscape{
width:100%;
height: 100vh;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}
.landscape img{
width: 55%;
height: auto;
position: relative;
}

/* -------------------------search header style--------------------------- */
#search-header{
    width: 100%;
    height:auto;
    top: -50%;
    position: fixed;
    transition:top 0.4s;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 1% 1% 1.5% 1%;
    z-index: 9;
    background-color: rgb(255,230,179);
    border-bottom: 1vw solid #d89000;

}
#searchbar-container{
    width: 100%;
    height: auto;
    display: flex;
    position: sticky;
    align-items: center;
    z-index: 9;
}
#searchbar-container #search-input{
    width: 73%;
    display: inline-block;
    position: sticky;
    direction: ltr;
    border: 1px solid black;
    border-right: none;
    outline: none;
    line-height: 1.5em;
    padding: 3%;
    border-radius: 0.3em 0em 0em 0.3em;
    font-family: roboto;
    font-size: 1em;
    box-sizing: border-box;
    text-transform: lowercase;
}
#search-input{
    text-transform: lowercase;
    color: #9e3601;
}
#searchbar-container button{
    width: 15vw;
    height: auto;
    position: sticky;
    display: inline-block;
    padding: 3%;
    line-height: 1.5em;
    font-family: roboto;
    color: black;
    background-color: rgb(255, 213, 129);
    border:1px solid black;
    border-radius: 0em 0.3em 0.3em 0em;
    border-left: none;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;

}
#searchbar-container button :hover{
    color: #9e3601;
}
#searchbar-container> a{
    font-size:8vw;
    padding: 1%;
    font-family: arial,sans-serif;
    text-decoration: none;
}
ul {
    list-style: none;
    font-size: 4.5vw;
    width: 100%;
    height: auto;
    background-color: #ffe6b3;
    position: fixed;
    z-index: 9;
    top:11vw;
    border-top:1vw solid #d89000;
    font-family: arial , sans-serif;
}
.list {
width: 100%;
height: auto;
}
.list-items {
padding: 2% 0 2% 0;
}
.list-items:hover {
color: #9e3601;
}


/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (orientation:landscape) {
#land { visibility: visible; }
#port { display:none; }
body{background-color: rgb(255,230,179); overflow: hidden;}
}

/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (orientation:portrait) {
#land { visibility: hidden; display: none; }
#port { display:block; }
}


/*-------------------SWIPER STYLE---------------*/
.swiper {
width: 100%;
height: auto;
margin-top: 1%;
z-index: 1;
position:relative;
background: #eaeded;
}
.swiper-slide {
width:100%;
height:auto;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: auto;
}

/* --------------------------- google translator style important ---------------------- */

.goog-te-banner-frame.skiptranslate, .goog-te-gadget-simple img {
display: none !important;
width:0%;
height:0%;
visibility:hidden;
pointer-events: none;
}
.goog-tooltip{
display: none !important;
}
.goog-tooltip:hover {
display: none !important;
}
.goog-text-highlight {
background-color: transparent !important;
border: none !important;
box-shadow: none !important;
}
div#goog-gt-tt{
    display: none !important;
    z-index: -10 !important;
}
.VIpgJd-suEOdc skiptranslate{
    /* display: none !important;
    visibility:hidden !important; */
    z-index: -10 !important;
}
.goog-te-gadget-simple{
    border: none !important;
    outline: none !important;
}
.goog-te-gadget-simple span{
    border: none !important;
    outline: none !important;
}

/* -------------------------------- fonts ----------------------- */

@font-face{
    font-family: "roboto";
    src: url(/fonts/Roboto/Roboto-Regular.ttf) format('truetype');

}
@font-face{
    font-family: "monoto";
    src: url(/fonts/Monoton/Monoton-Regular.ttf) format('truetype');

}
@font-face{
    font-family: "roblox";
    src: url(/fonts/roblox/Roblox\ Font\ Regular.ttf) format('truetype');

}
@font-face{
    font-family: "goldman";
    src: url(/fonts/Goldman/Goldman-Regular.ttf) format('truetype');

}
@font-face{
    font-family: "faster";
    src: url(/fonts/Faster_One/FasterOne-Regular.ttf) format('truetype');

}
@font-face{
    font-family: "chathura";
    src: url(/fonts/telugu/chathura-bold/Chathura.ttf) format('truetype');
}
@font-face{
    font-family: "lohiti";
    src: url(/fonts/telugu/lohit-telugu-regular/Lohit.ttf) format('truetype');

}
@font-face{
    font-family: "nandakam";
    src: url(/fonts/telugu/nandakam-regular/Nandakam.otf) format('opentype');

}
@font-face{
    font-family: "potti-sreeramulu";
    src: url(/fonts/telugu/potti-sreeramulu-regular/Potti-Sreeramulu.otf) format('opentype');
    font-size: 7vw;

}
