body{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    scroll-behavior: smooth;
    scrollbar-width: none;
    scrollbar-color: transparent;
    scrollbar-base-color: transparent;
}